@font-face {
    font-family: 'PixelFont';
    src: url('Font/04B_30__.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'PixelFont';
    font-size: 10px;
    border: 1px red solid transparent;
    margin: 0;
}

#title {
    font-size: 5rem;
    text-align: center;
}

#game {
    display: flex;
    justify-content: center;
    
}

#canvas {
    margin-top: 2vh;
}

#scoreContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 500px;
    margin: auto;
    padding-top: 2vh;
}

#bestScore, #currentScore {
    font-size: 2rem;
}
 